In [ ]:
from multiprocessing import cpu_count
from concurrent.futures import ThreadPoolExecutor
import time
import ast

import requests
import pandas as pd

def get_etf_list():
    URL = 'https://finance.naver.com/api/sise/etfItemList.nhn'
    response = requests.get(URL)
    etf_item_list = response.json().get('result').get('etfItemList')
    print(f'etf_item_list : {len(etf_item_list)}')
    return etf_item_list

def filter_etf_item(df, kwds):
    return df.loc[
        (df.etfTabCode != 1)
        &(df.quant > df.quant.median())
        &(df.marketSum > df.marketSum.median() * 2)
        &~df.itemname.str.contains('|'.join(kwds))
        &(~df.itemname.str.contains('합성')
            |df.itemname.str.contains('인버스'))]\
        .iloc[:, [0, 2]]\
        .reset_index(drop=True)

def get_unique_etf_item(df):
    df_ = df.copy()
    df_['sector'] = df_.itemname.replace(
    '(^\D+ )|(\(H\)|Fn|iSelect|SOLACTIVE|INDXX|선물|\s|플러스|Plus|PLUS)',
    '', regex=True)
    return df_.groupby('sector')\
        .first()[['itemcode', 'itemname']]\
        .set_index('itemcode').sort_index()

def get_price(symbol):
    URL = 'https://api.finance.naver.com/siseJson.naver'
    params = dict(symbol=symbol,
                  requestType=1,
                  startTime='20230101',
                  endTime='20991231',
                  timeframe='day')
    response = requests.get(URL, params=params)
    literal = response.text.replace('\n', '').replace('\t', '')
    data = ast.literal_eval(literal)
    df = pd.DataFrame(data[1:], columns=data[0])
    return (symbol, df.drop(columns=['시가', '거래량', '외국인소진율']))

def get_prices(symbols):
    cpu_num = cpu_count()
    print(f'cpu_num : {cpu_num} → worker_num : {cpu_num * 2}')

    t = time.time()

    # with ThreadPoolExecutor() as executor:
    with ThreadPoolExecutor(max_workers=cpu_num * 2) as executor:
        results = executor.map(get_price, symbols)

    print(f'process time : {time.time() - t:.3f}s')

    prices = {}
    for symbol, price in results:
        prices[symbol] = price
    print(prices.keys())
    return prices

etf_item_df = pd.DataFrame(get_etf_list())
kwds = ['액티브','TR','배당','금리','단기','혼합','MSCI','인도']
etf_item_filterd = filter_etf_item(etf_item_df, kwds)
etf_item_unique = get_unique_etf_item(etf_item_filterd)
prices = get_prices(etf_item_unique.index)
prices

etf_item_list : 805
cpu_num : 2 → worker_num : 4
process time : 19.346s
dict_keys(['091160', '091170', '091180', '102780', '102970', '108450', '114260', '114800', '122630', '132030', '133690', '138540', '139230', '139250', '139260', '139280', '143860', '144600', '148070', '150460', '157490', '192090', '203780', '204450', '213610', '227540', '228790', '228800', '228810', '233740', '241180', '244580', '245340', '245360', '251340', '252670', '261220', '261240', '261260', '261270', '267770', '271050', '290130', '292150', '292560', '298770', '300640', '302190', '304660', '305080', '305540', '305720', '309230', '314250', '325010', '326240', '329200', '360750', '364960', '364970', '364980', '365000', '367760', '367770', '371160', '371450', '371460', '371470', '381170', '381180', '385560', '390390', '394660', '395160', '395170', '395270', '395290', '396500', '400570', '401170', '411060', '412570', '441540', '446770', '449450', '455850', '455860', '461950', '462010', '462330', '464930', '465350', '465580', '471760', '471990'])

{'091160':            날짜     고가     저가     종가
 0    20230102  22208  21583  21703
 1    20230103  21911  21186  21871
 2    20230104  23022  21588  22988
 3    20230105  23131  22650  22824
 4    20230106  23573  22630  23474
 ..        ...    ...    ...    ...
 232  20231211  34335  33860  34160
 233  20231212  34850  34420  34720
 234  20231213  34945  34645  34720
 235  20231214  35405  34910  35315
 236  20231215  35600  35030  35115

 [237 rows x 4 columns],
 '091170':            날짜    고가    저가    종가
 0    20230102  5929  5774  5774
 1    20230103  5892  5708  5883
 2    20230104  6085  5826  6071
 3    20230105  6467  6085  6458
 4    20230106  6679  6415  6604
 ..        ...   ...   ...   ...
 232  20231211  6470  6415  6460
 233  20231212  6525  6470  6510
 234  20231213  6520  6455  6455
 235  20231214  6565  6520  6550
 236  20231215  6640  6570  6620

 [237 rows x 4 columns],
 '091180':            날짜     고가     저가     종가
 0    20230102  15463  15081  15180
 1    20230103  15365  14905  15312
 2    20230104  15370  15076  15321
 3    20230105  15492  15223  15302
 4    20230106  15673  15106  15590
 ..        ...    ...    ...    ...
 232  20231211  18185  18015  18180
 233  20231212  18310  18110  18235
 234  20231213  18265  18125  18165
 235  20231214  18310  17850  18115
 236  20231215  18495  18105  18345

 [237 rows x 4 columns],
 '102780':            날짜    고가    저가    종가
 0    20230102  8424  8306  8326
 1    20230103  8350  8163  8306
 2    20230104  8444  8198  8444
 3    20230105  8498  8375  8420
 4    20230106  8537  8345  8488
 ..        ...   ...   ...   ...
 232  20231211  8865  8790  8830
 233  20231212  8915  8845  8910
 234  20231213  8900  8795  8815
 235  20231214  8950  8860  8930
 236  20231215  9015  8905  8945

 [237 rows x 4 columns],
 '102970':            날짜    고가    저가    종가
 0    20230102  5581  5387  5398
 1    20230103  5426  5286  5407
 2    20230104  5619  5354  5600
 3    20230105  5798  5609  5755
 4    20230106  5817  5716  5793
 ..        ...   ...   ...   ...
 232  20231211  6500  6430  6500
 233  20231212  6535  6465  6510
 234  20231213  6530  6485  6495
 235  20231214  6625  6545  6565
 236  20231215  6610  6565  6575

 [237 rows x 4 columns],
 '108450':            날짜     고가     저가     종가
 0    20230102  14089  13941  13971
 1    20230103  14020  13729  13986
 2    20230104  14311  13823  14183
 3    20230105  14301  14134  14218
 4    20230106  14282  14168  14282
 ..        ...    ...    ...    ...
 232  20231211  14890  14730  14815
 233  20231212  14940  14860  14930
 234  20231213  14905  14730  14745
 235  20231214  14995  14880  14995
 236  20231215  15070  14945  15005

 [237 rows x 4 columns],
 '114260':            날짜     고가     저가     종가
 0    20230102  56475  56340  56355
 1    20230103  56640  56370  56625
 2    20230104  56725  56515  56670
 3    20230105  56720  56580  56685
 4    20230106  56970  56540  56620
 ..        ...    ...    ...    ...
 232  20231211  58695  58600  58670
 233  20231212  58750  58670  58750
 234  20231213  58770  58655  58690
 235  20231214  59100  58955  58995
 236  20231215  59050  58945  58965

 [237 rows x 4 columns],
 '114800':            날짜    고가    저가    종가
 0    20230102  5235  5155  5225
 1    20230103  5335  5205  5225
 2    20230104  5270  5105  5115
 3    20230105  5125  5055  5085
 4    20230106  5125  5000  5030
 ..        ...   ...   ...   ...
 232  20231211  4595  4560  4560
 233  20231212  4550  4525  4535
 234  20231213  4585  4540  4580
 235  20231214  4540  4490  4520
 236  20231215  4500  4445  4490

 [237 rows x 4 columns],
 '122630':            날짜     고가     저가     종가
 0    20230102  13000  12620  12645
 1    20230103  12735  12145  12640
 2    20230104  13220  12455  13150
 3    20230105  13495  13165  13355
 4    20230106  13805  13185  13655
 ..        ...    ...    ...    ...
 232  20231211  16445  16215  16435
 233  20231212  16685  16525  16580
 234  20231213  16570  16280  16280
 235  20231214  16895  16600  16695
 236  20231215  17210  16855  16955

 [237 rows x 4 columns],
 '132030':            날짜     고가     저가     종가
 0    20230102  12230  11970  12220
 1    20230103  12170  12055  12160
 2    20230104  12200  12115  12200
 3    20230105  12260  12200  12230
 4    20230106  12140  12075  12125
 ..        ...    ...    ...    ...
 232  20231211  12730  12645  12670
 233  20231212  12605  12565  12605
 234  20231213  12570  12515  12515
 235  20231214  12920  12855  12905
 236  20231215  12920  12875  12910

 [237 rows x 4 columns],
 '133690':            날짜     고가     저가     종가
 0    20230102  61528  60761  61186
 1    20230103  62196  61525  62100
 2    20230104  62013  61467  61692
 3    20230105  61884  61417  61618
 4    20230106  61067  60635  60861
 ..        ...    ...    ...    ...
 232  20231211  94605  94390  94495
 233  20231212  95545  95330  95435
 234  20231213  96540  95885  96510
 235  20231214  97000  96010  96450
 236  20231215  95915  95365  95870

 [237 rows x 4 columns],
 '138540':            날짜     고가     저가     종가
 0    20230102  19634  19225  19362
 1    20230103  19545  18971  19483
 2    20230104  19673  19197  19547
 3    20230105  19765  19405  19518
 4    20230106  19877  19405  19829
 ..        ...    ...    ...    ...
 232  20231211  23510  23375  23500
 233  20231212  23700  23515  23555
 234  20231213  23715  23465  23475
 235  20231214  23710  23400  23450
 236  20231215  24000  23450  23860

 [237 rows x 4 columns],
 '139230':            날짜    고가    저가    종가
 0    20230102  2890  2790  2811
 1    20230103  2825  2710  2771
 2    20230104  2795  2735  2786
 3    20230105  2805  2705  2736
 4    20230106  2765  2690  2746
 ..        ...   ...   ...   ...
 232  20231211  3410  3340  3370
 233  20231212  3440  3370  3425
 234  20231213  3420  3360  3380
 235  20231214  3445  3385  3430
 236  20231215  3510  3440  3490

 [237 rows x 4 columns],
 '139250':            날짜     고가     저가     종가
 0    20230102  14685  14360  14405
 1    20230103  14384  13985  14267
 2    20230104  14266  13926  14262
 3    20230105  14310  14034  14123
 4    20230106  14355  14034  14336
 ..        ...    ...    ...    ...
 232  20231211  13960  13680  13780
 233  20231212  13825  13700  13720
 234  20231213  13720  13530  13570
 235  20231214  13820  13680  13820
 236  20231215  14240  13820  14125

 [237 rows x 4 columns],
 '139260':            날짜     고가     저가     종가
 0    20230102  26062  25745  25830
 1    20230103  26012  25278  25865
 2    20230104  26817  25601  26729
 3    20230105  27080  26609  26783
 4    20230106  27194  26454  27017
 ..        ...    ...    ...    ...
 232  20231211  31395  31045  31370
 233  20231212  31615  31395  31495
 234  20231213  31620  31245  31255
 235  20231214  32025  31685  31980
 236  20231215  32320  32070  32300

 [237 rows x 4 columns],
 '139280':            날짜    고가    저가    종가
 0    20230102  9129  8964  8989
 1    20230103  8987  8812  8921
 2    20230104  8909  8812  8862
 3    20230105  8997  8911  8970
 4    20230106  9001  8920  8955
 ..        ...   ...   ...   ...
 232  20231211  8765  8655  8765
 233  20231212  8840  8735  8820
 234  20231213  8820  8765  8765
 235  20231214  8905  8805  8845
 236  20231215  8895  8675  8710

 [237 rows x 4 columns],
 '143860':            날짜     고가     저가     종가
 0    20230102  26485  25821  25901
 1    20230103  25931  25326  25591
 2    20230104  25681  25316  25626
 3    20230105  26060  25726  25781
 4    20230106  26075  25466  25936
 ..        ...    ...    ...    ...
 232  20231211  27880  27450  27880
 233  20231212  28320  27815  28185
 234  20231213  28150  27720  27850
 235  20231214  28540  28060  28435
 236  20231215  28545  27700  27795

 [237 rows x 4 columns],
 '144600':            날짜    고가    저가    종가
 0    20230102  4790  4730  4765
 1    20230103  4900  4770  4890
 2    20230104  4815  4775  4810
 3    20230105  4755  4710  4745
 4    20230106  4665  4615  4650
 ..        ...   ...   ...   ...
 232  20231211  4385  4340  4360
 233  20231212  4365  4310  4365
 234  20231213  4320  4280  4280
 235  20231214  4525  4470  4515
 236  20231215  4570  4525  4550

 [237 rows x 4 columns],
 '148070':            날짜      고가      저가      종가
 0    20230102  107340  106605  106675
 1    20230103  108780  106675  107995
 2    20230104  108695  107945  108560
 3    20230105  109015  108560  108895
 4    20230106  109775  108525  108930
 ..        ...     ...     ...     ...
 232  20231211  112770  112120  112495
 233  20231212  112880  112505  112880
 234  20231213  113100  112730  112850
 235  20231214  114880  114010  114480
 236  20231215  114485  114135  114280

 [237 rows x 4 columns],
 '150460':            날짜    고가    저가    종가
 0    20230102  7088  6840  6955
 1    20230103  6979  6820  6970
 2    20230104  7014  6790  6836
 3    20230105  6939  6835  6915
 4    20230106  6964  6855  6875
 ..        ...   ...   ...   ...
 232  20231211  6090  5960  6090
 233  20231212  6110  6030  6090
 234  20231213  6110  6025  6095
 235  20231214  6190  6145  6190
 236  20231215  6240  6115  6115

 [237 rows x 4 columns],
 '157490':            날짜    고가    저가    종가
 0    20230102  8934  8616  8681
 1    20230103  8805  8506  8785
 2    20230104  8949  8735  8930
 3    20230105  9143  8929  8999
 4    20230106  9034  8884  8925
 ..        ...   ...   ...   ...
 232  20231211  9265  9105  9125
 233  20231212  9180  9005  9055
 234  20231213  9080  8955  8955
 235  20231214  9285  9075  9230
 236  20231215  9275  9205  9225

 [237 rows x 4 columns],
 '192090':            날짜    고가    저가    종가
 0    20230102  9350  9235  9290
 1    20230103  9415  9280  9405
 2    20230104  9440  9370  9410
 3    20230105  9690  9425  9635
 4    20230106  9695  9610  9680
 ..        ...   ...   ...   ...
 232  20231211  8270  8110  8270
 233  20231212  8300  8245  8280
 234  20231213  8295  8175  8200
 235  20231214  8255  8035  8055
 236  20231215  8140  8045  8055

 [237 rows x 4 columns],
 '203780':            날짜     고가     저가     종가
 0    20230102  19970  19120  19685
 1    20230103  19800  19540  19795
 2    20230104  19715  19480  19625
 3    20230105  19805  19450  19620
 4    20230106  20000  19585  19585
 ..        ...    ...    ...    ...
 232  20231211  19270  19215  19240
 233  20231212  19490  19355  19405
 234  20231213  19700  19430  19690
 235  20231214  20280  20045  20270
 236  20231215  20595  20060  20285

 [237 rows x 4 columns],
 '204450':            날짜    고가    저가    종가
 0    20230102  2195  2165  2180
 1    20230103  2305  2085  2300
 2    20230104  2400  2280  2400
 3    20230105  2580  2475  2520
 4    20230106  2565  2450  2485
 ..        ...   ...   ...   ...
 232  20231211  1390  1308  1350
 233  20231212  1385  1346  1385
 234  20231213  1388  1340  1351
 235  20231214  1395  1351  1357
 236  20231215  1450  1381  1412

 [237 rows x 4 columns],
 '213610':            날짜    고가    저가    종가
 0    20230102  8214  8116  8136
 1    20230103  8165  7998  8141
 2    20230104  8288  8052  8289
 3    20230105  8337  8224  8279
 4    20230106  8367  8224  8313
 ..        ...   ...   ...   ...
 232  20231211  8665  8560  8625
 233  20231212  8695  8625  8690
 234  20231213  8680  8585  8600
 235  20231214  8715  8660  8700
 236  20231215  8795  8690  8725

 [237 rows x 4 columns],
 '227540':            날짜     고가     저가     종가
 0    20230102  17154  16794  16835
 1    20230103  16834  16330  16555
 2    20230104  16595  16345  16545
 3    20230105  16809  16650  16695
 4    20230106  16819  16555  16715
 ..        ...    ...    ...    ...
 232  20231211  17500  17260  17410
 233  20231212  17640  17385  17575
 234  20231213  17580  17295  17350
 235  20231214  17640  17380  17490
 236  20231215  17520  17110  17115

 [237 rows x 4 columns],
 '228790':            날짜    고가    저가    종가
 0    20230102  2304  2209  2265
 1    20230103  2279  2219  2260
 2    20230104  2254  2214  2245
 3    20230105  2319  2249  2294
 4    20230106  2348  2274  2289
 ..        ...   ...   ...   ...
 232  20231211  2350  2295  2345
 233  20231212  2350  2305  2320
 234  20231213  2345  2315  2335
 235  20231214  2400  2340  2395
 236  20231215  2395  2360  2370

 [237 rows x 4 columns],
 '228800':            날짜    고가    저가    종가
 0    20230102  4169  4019  4109
 1    20230103  4169  4044  4169
 2    20230104  4193  4119  4139
 3    20230105  4223  4144  4224
 4    20230106  4263  4189  4204
 ..        ...   ...   ...   ...
 232  20231211  3410  3380  3390
 233  20231212  3425  3380  3420
 234  20231213  3455  3425  3435
 235  20231214  3480  3440  3455
 236  20231215  3480  3450  3465

 [237 rows x 4 columns],
 '228810':            날짜    고가    저가    종가
 0    20230102  6800  6510  6661
 1    20230103  6845  6635  6791
 2    20230104  6825  6620  6686
 3    20230105  6825  6650  6671
 4    20230106  6665  6480  6601
 ..        ...   ...   ...   ...
 232  20231211  6645  6450  6600
 233  20231212  6600  6400  6415
 234  20231213  6465  6330  6405
 235  20231214  6445  6255  6255
 236  20231215  6345  6225  6275

 [237 rows x 4 columns],
 '233740':            날짜     고가     저가     종가
 0    20230102   6335   5970   6030
 1    20230103   6120   5845   6085
 2    20230104   6175   5865   6160
 3    20230105   6235   5965   6030
 4    20230106   6320   5930   6250
 ..        ...    ...    ...    ...
 232  20231211  10525  10210  10400
 233  20231212  10690  10355  10515
 234  20231213  10500  10120  10160
 235  20231214  10765  10315  10530
 236  20231215  10845  10480  10615

 [237 rows x 4 columns],
 '241180':            날짜     고가     저가     종가
 0    20230102  14830  14565  14830
 1    20230103  14930  14810  14925
 2    20230104  14905  14770  14770
 3    20230105  14795  14560  14570
 4    20230106  14605  14385  14560
 ..        ...    ...    ...    ...
 232  20231211  18155  17950  18040
 233  20231212  18140  17985  18000
 234  20231213  18150  18050  18140
 235  20231214  18250  18075  18165
 236  20231215  18300  18030  18165

 [237 rows x 4 columns],
 '244580':            날짜    고가    저가    종가
 0    20230102  7865  7615  7620
 1    20230103  7630  7440  7550
 2    20230104  7610  7505  7600
 3    20230105  7705  7610  7630
 4    20230106  7740  7580  7685
 ..        ...   ...   ...   ...
 232  20231211  7835  7765  7790
 233  20231212  7850  7750  7805
 234  20231213  7805  7685  7700
 235  20231214  7885  7760  7870
 236  20231215  7920  7700  7710

 [237 rows x 4 columns],
 '245340':            날짜     고가     저가     종가
 0    20230102  20482  20286  20482
 1    20230103  20609  20474  20587
 2    20230104  20659  20565  20592
 3    20230105  20663  20514  20577
 4    20230106  20509  20327  20409
 ..        ...    ...    ...    ...
 232  20231211  23695  23545  23660
 233  20231212  23750  23705  23720
 234  20231213  23930  23750  23930
 235  20231214  23975  23810  23870
 236  20231215  23935  23730  23915

 [237 rows x 4 columns],
 '245360':            날짜    고가    저가    종가
 0    20230102  9060  8905  8990
 1    20230103  9245  8830  9240
 2    20230104  9455  9245  9415
 3    20230105  9790  9615  9660
 4    20230106  9745  9575  9615
 ..        ...   ...   ...   ...
 232  20231211  7935  7790  7935
 233  20231212  8030  7900  8030
 234  20231213  8045  7915  7925
 235  20231214  8020  7805  7875
 236  20231215  8090  7860  8030

 [237 rows x 4 columns],
 '251340':            날짜    고가    저가    종가
 0    20230102  5650  5475  5620
 1    20230103  5725  5570  5595
 2    20230104  5705  5555  5560
 3    20230105  5650  5525  5610
 4    20230106  5665  5480  5510
 ..        ...   ...   ...   ...
 232  20231211  3790  3735  3755
 233  20231212  3765  3700  3730
 234  20231213  3800  3735  3785
 235  20231214  3750  3675  3705
 236  20231215  3720  3650  3695

 [237 rows x 4 columns],
 '252670':            날짜    고가    저가    종가
 0    20230102  3505  3400  3495
 1    20230103  3640  3470  3500
 2    20230104  3550  3335  3355
 3    20230105  3360  3270  3305
 4    20230106  3350  3200  3230
 ..        ...   ...   ...   ...
 232  20231211  2565  2520  2525
 233  20231212  2515  2485  2495
 234  20231213  2550  2500  2545
 235  20231214  2495  2440  2475
 236  20231215  2450  2395  2435

 [237 rows x 4 columns],
 '261220':            날짜     고가     저가     종가
 0    20230102  14645  14465  14630
 1    20230103  14700  14490  14695
 2    20230104  14135  13940  14010
 3    20230105  13530  13400  13525
 4    20230106  13655  13495  13575
 ..        ...    ...    ...    ...
 232  20231211  13575  13460  13575
 233  20231212  13610  13485  13610
 234  20231213  13025  12900  12930
 235  20231214  13265  13170  13215
 236  20231215  13635  13540  13550

 [237 rows x 4 columns],
 '261240':            날짜     고가     저가     종가
 0    20230102  11375  11270  11375
 1    20230103  11435  11305  11360
 2    20230104  11450  11355  11380
 3    20230105  11400  11335  11350
 4    20230106  11410  11275  11355
 ..        ...    ...    ...    ...
 232  20231211  12320  12260  12295
 233  20231212  12300  12265  12270
 234  20231213  12320  12240  12315
 235  20231214  12115  12075  12105
 236  20231215  12110  12055  12095

 [237 rows x 4 columns],
 '261260':            날짜    고가    저가    종가
 0    20230102  7530  7380  7380
 1    20230103  7475  7320  7410
 2    20230104  7420  7300  7395
 3    20230105  7460  7370  7435
 4    20230106  7530  7365  7440
 ..        ...   ...   ...   ...
 232  20231211  6605  6550  6590
 233  20231212  6600  6570  6600
 234  20231213  6620  6545  6550
 235  20231214  6800  6750  6770
 236  20231215  6820  6760  6775

 [237 rows x 4 columns],
 '261270':            날짜    고가    저가    종가
 0    20230102  9030  8945  8945
 1    20230103  8995  8900  8970
 2    20230104  8970  8890  8950
 3    20230105  8990  8935  8970
 4    20230106  9035  8945  8975
 ..        ...   ...   ...   ...
 232  20231211  8625  8585  8615
 233  20231212  8625  8600  8625
 234  20231213  8640  8590  8590
 235  20231214  8755  8720  8735
 236  20231215  8780  8735  8735

 [237 rows x 4 columns],
 '267770':            날짜     고가     저가     종가
 0    20230102   9905   9625   9645
 1    20230103   9710   9265   9635
 2    20230104  10080   9510  10045
 3    20230105  10290  10040  10195
 4    20230106  10525  10045  10425
 ..        ...    ...    ...    ...
 232  20231211  12615  12435  12610
 233  20231212  12805  12665  12755
 234  20231213  12760  12490  12520
 235  20231214  12995  12740  12845
 236  20231215  13240  12895  13020

 [237 rows x 4 columns],
 '271050':            날짜    고가    저가    종가
 0    20230102  4835  4790  4820
 1    20230103  4835  4765  4775
 2    20230104  5020  4945  5005
 3    20230105  5205  5150  5150
 4    20230106  5160  5105  5145
 ..        ...   ...   ...   ...
 232  20231211  4800  4755  4765
 233  20231212  4790  4745  4755
 234  20231213  5005  4950  4985
 235  20231214  4905  4865  4890
 236  20231215  4875  4725  4760

 [237 rows x 4 columns],
 '290130':            날짜     고가     저가     종가
 0    20230102   9742   9560   9575
 1    20230103   9643   9412   9609
 2    20230104   9796   9555   9797
 3    20230105   9964   9845   9964
 4    20230106  10161   9909  10117
 ..        ...    ...    ...    ...
 232  20231211  10865  10785  10865
 233  20231212  10920  10850  10905
 234  20231213  10905  10805  10850
 235  20231214  10980  10855  10910
 236  20231215  11015  10915  11015

 [237 rows x 4 columns],
 '292150':            날짜     고가     저가     종가
 0    20230102   9205   9063   9123
 1    20230103   9160   8954   9123
 2    20230104   9387   9062   9340
 3    20230105   9456   9295   9340
 4    20230106   9470   9304   9408
 ..        ...    ...    ...    ...
 232  20231211  11100  11000  11100
 233  20231212  11170  11090  11115
 234  20231213  11115  11005  11020
 235  20231214  11260  11165  11220
 236  20231215  11470  11305  11425

 [237 rows x 4 columns],
 '292560':            날짜    고가    저가    종가
 0    20230102  9445  9310  9430
 1    20230103  9590  9410  9530
 2    20230104  9510  9445  9490